<div class="hubmainsection">
  <div class="section">
    <div class="hubheader">
      <h3>Root</h3>
    </div>
      <div class="imagesection">
        <div class="Gettyimage1">
          
        </div>
      </div>
      <div class="imagesection2">
        <div class="Gettyimages2">

        </div>
      </div>
      <div class="imagesection3"> 
        <div class="unsplashimage">

        </div>
      </div>
      <div class="imagesection4">
        <div class="screenimage"></div>
      </div>
      <div class="texthub">
        <p>Leveraging Resource revenues for Human Capital Development</p>
      </div>
      <div class="imagesection5">
          <div class="DPAimage">
          </div>
      </div>
      <div class="imagesection6">
        <div class="Dpaimage">
          
        </div>
      </div>
      <div class="imagesection7">
        <div class="slideimage"></div>
      </div>
      <div class="imagesection8">
        <div class="img3"></div>
      </div>
      <div class="imagesection9">
        <div class="avtarimage"></div>
      </div>
      <div class="imagesection10">
        <div class="evieimage"></div>
      </div>
      <div class="hubmenubtn">
        <div class="menubtn">
          <button (click)="sidebarShow = !sidebarShow">
            <span class="btntext">Menu</span>
          </button>
        </div>
      </div>
      <div>
      
      <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
          <div
              class="sidebar-close"
              (click)="sidebarShow = !sidebarShow"
          >
              X
          </div>
          <div class="sidebar-content">

            <div class="rootstudio">
              <h3>Root Studios</h3>
              <p>Co-Working Space</p>
              <p>Mentorship</p>
              <p>Graduates</p>
              <p>Current Cohort</p>
              <p>Creators /Market place </p>
            </div>
            <div class="rootdiamond">
              <h3>Root Diamonds</h3>
              <p>Shop Retails</p>
              <p>Shop Wholesale</p>
              <p>Coop</p>
            </div>
            <div class="learn">
              <h3>Learn</h3>
              <p>About Us</p>
              <p>Team</p>
              <p>Contact Us</p>
              <p>Media</p>
              <p>Research</p>
              <p>Environment</p>
              <p>News & Blogs</p>
            </div>
            <div class="footermenu">
              <p>Subscribe</p>
              <div class="icons">
                <span class="instaicon"><img src="../assets/Icons/Intagram Icon.svg"/></span>
                <span class="fbicon"> <img src="../assets/Icons/FB Icon.svg"/></span>
                <span class="youtubeicon"><img src="../assets/Icons/Youtube Icon.svg"/></span>
                <span class="linkedicon"><img src="../assets/Icons/LinkedIN Icon.svg"/></span>
                <span class="twittericon"><img src ="../assets/Icons/Twitter Icon.svg"/></span>
                <div class="copyright">
                  <p>Copyright © 2021 Root Diamonds </p>
                </div>
              </div>
                
              </div>
          
          </div>
      </div>
      </div>
  </div>
</div>